.card-link {
    padding: 1em 0 1em 0;
    margin-bottom: 1.5em;
    border: 3px solid peachpuff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 60px;
    width: 20vw;
    text-decoration: none;
}

div.card-link {
    color: peachpuff;
    font-size: 1.8vw;
    font-weight: bold;
}

/* On mouse-over, add a deeper shadow */
.card-link:hover {
    border-radius: 2em;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-link a {
    text-decoration: none;
    color: peachpuff;
    font-size: 2vw;
    font-weight: bold;
}