.App {
    min-height: 100vh;
    text-align: center;
    background: linear-gradient(270deg, #4bd3ff, #ff8585, #8598ff);
    background-size: 600% 600%;

    -webkit-animation: BackgroundAnimation 60s ease infinite;
    -moz-animation: BackgroundAnimation 60s ease infinite;
    animation: BackgroundAnimation 60s ease infinite;
}

.App-header {
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
}

.App-header nav a {
    display: inline-block;
    margin: 0.5em 1.5em 0.5em 1.5em;
    padding: 0.5em 1.5em 0.5em 1.5em;
    text-decoration: none;
    color: deepskyblue;
    background-color: peachpuff;
    font-size: 3vw;
    font-weight: bold;
    border-radius: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.App-header nav a:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/*Animations*/
@-webkit-keyframes BackgroundAnimation {
    0% {
        background-position: 0 51%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0 51%
    }
}

@-moz-keyframes BackgroundAnimation {
    0% {
        background-position: 0 51%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0 51%
    }
}

@keyframes BackgroundAnimation {
    0% {
        background-position: 0 51%
    }
    50% {
        background-position: 100% 50%
    }
    100% {
        background-position: 0 51%
    }
}

