body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1{
  color: deepskyblue;
  font-size: 4vw;
  font-weight: bold;
  text-shadow: 2px 3px 6px blueviolet;
}

h2{
  color: peachpuff;
  font-size: 2vw;
}

img {
  margin-top: 2vw;
}

