.card {
    margin: 1.5em 0 1.5em 0;
    border: 3px solid peachpuff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 60px;
    width: 30%;
    text-decoration: none;
    background-color: transparent;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card a {
    text-decoration: none;
}

.card p {
    color: peachpuff;
    font-size: 2vw;
    font-weight: bold;
}

.card section {
    display: flex;
    flex-direction: column;
    align-items: center;
}