.row {
    padding: 1.5em;
    margin-top: 1.5em;
    display: flex;
}
@media screen and (max-width: 900px) {
    .row {
        display: block;
    }
}

.doughnut{
    display:flex;
    justify-content:center;
    align-items:center
}

.column {
    flex: 50%;
}

@media screen and (max-width: 900px) {
    .column {
        margin-bottom: 5em;
    }
}

.test-form {
    border: 3px solid peachpuff;
    border-radius: 3em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 1.5em;
}

.test-form input[type=text]{
    width: 100%;
    padding: 1em;
    border: 3px solid pink;
    border-radius: 3em;
    box-sizing: border-box;
    resize: vertical;
    background-color: pink;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-size: 1.2vw;
}

.test-form label {
    font-size: 2em;
    display: inline-block;
    padding-bottom: 1em;
    font-weight: bold;
}

.test-link {
    padding: 1em 0 1em 0;
    margin-bottom: 1.5em;
    border: 3px solid peachpuff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 60px;
    width: 20vw;
    text-decoration: none;
    background-color: peachpuff;
    color: deepskyblue;
    font-weight: bold;
    font-size: 1.5vw;
}

.test-link:hover {
    color: dodgerblue;
    text-decoration: none;
    border-radius: 2em;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);

}