.input-form {
    padding: 0.5em 1.5em 1.5em 1.5em;
    border: 3px solid peachpuff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 3em;
    width: 30%;
    text-decoration: none;
    align-items: center;
}


.input-form h1,input[type=submit]{
    color: deepskyblue;
    border: 3px solid peachpuff;
    border-radius: 3em;
    margin: 2em 0 0.5em 0;
    background-color: peachpuff;
    padding: 0.5em 1.5em 0.5em 1.5em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    text-shadow: none;
    font-size: 2em;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-form input[type=text]{
    width: 100%;
    padding: 1em;
    border: 3px solid pink;
    border-radius: 3em;
    box-sizing: border-box;
    resize: vertical;
    background-color: pink;
    align-items: center;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-size: 1.2vw;
}

.input-form label {
    font-size: 1.5em;
    color: peachpuff;
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.submit {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 1.5em;
}

.submit:hover {
    color: dodgerblue;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

